.top-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-bottom: 2%;
    color: #1c1b1b;
}
.projectsDiv {
    padding-inline: 10vw;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: nowrap;
}

.card-content {
    position: relative;
    width: 30%;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    background-color: #d1c7cb;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #412944;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    span {
        color: #9b7fa4;
        font-weight: 500;
    }
}

.card-social {
    display: flex;
    column-gap: .75rem;
}

.card-social a {
    font-size: 1.25rem;
    color: #9b7fa4;
}

.card-image {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 1rem;
}

.card-data {
    text-align: center;
}

.card_img {
    width: 100px;
}

.card-name {
    font-size: large;
    color: #414040;
    font-weight: 600;
    margin-bottom: .25rem;
}

.card-resume {
    font-size: large;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: justify;
    color: #412944;
}

.persoprjets {

}