.competences{
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.titreComp{
    padding-top: 2%;
    font-size: 350%;
    color: #1c1b1b;
    margin-left: 10%;
}

.contourComp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.compProg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: #d1c7cb;
    border-radius: 15px;
    height: 80%;
    margin-bottom: 50px;

}

.compBdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    background-color: #d1c7cb;
    border-radius: 15px;
    height: 80%;
    margin-bottom: 50px;

}

.titreProg{
    margin-top: 10%;
    font-size: x-large;
    background-color: #eae3e3;
    padding: 1.5%;
    border-radius: 5px;
    color: #414040;
}

.titreBDD{
    margin-top: 10%;
    font-size: x-large;
    background-color: #eae3e3;
    padding: 1.5%;
    border-radius: 5px;
    color: #414040;
}

.contentProg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.py {
    margin-right: 15px;
}
.contentBDD{
    margin-bottom: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.compProg p{
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0em;
    color: #2c2c2c;
    text-align: justify;

}

.contentProg p{
    font-size: 1.2em;
    margin-top: 0;
    color: #2c2c2c;
    text-align: justify;
    margin-left: -40%;
    margin-right: -40%;
}

