.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.exp {
    margin-top: 5%;
    top: 0;
    margin-left: 10%;
    font-size: 350%;
    color: #1c1b1b;
}

.expPro{
}

.contenuExp{
    width: 90%;
    display: flex;
    border-radius: 8px;
    margin-left: 10%;
}

.contourAsso{
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 15px;
    background-color: #d1c7cb;

}

.contourPro{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1c7cb;
    border-radius: 15px;
    margin: 20px;

}

.para_Asso{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    font-size: large;
    text-align: justify;
    line-height: 1.5;
    color: #1c1b1b;
}

.para_Pro{

    padding-left: 8%;
    padding-right: 8%;
    padding-top: 14%;
    font-size: large;
    text-align: justify;
    line-height: 1.5;
    color: #1c1b1b;
}

.expAssiociation {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.unif{
    padding-top: 7%;
    padding-bottom: 4%;
    padding-left: 10%;
    width: 160px;
    height: 260px;
}

.horizon{
    padding-left: 5%;
    padding-right: 10%;
    width: 185px;
    height: 250px;
    padding-top: 7%;
    padding-bottom: 7%;
}

.royer{
    width: 160px;
    height: 160px;
    padding-top: 58%;
}

.japon{
    text-decoration: underline;
    color: black;
}
strong{
    color: #412944;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #412944;
}