@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: #53736D;
}

/*---- Accueil ----*/

.accueil {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background-color: #A69A85;
    line-height: 1.0;
    padding: 0 10%;
}

.accueil h1 {
    font-size: 682%;
    margin: 0;
    padding: 0;
    color: #04090D;
}
.nameMediaQuery{
    display: none;
    font-size: 11.3vh;
    margin: 0;
    padding: 0;
    color: #04090D;
}

.bvn {
    font-size: 300% ;
    margin: 0;
    padding: 0 2%;
    color: #071121;
}

.statut {
    font-size: 270%;
    margin: 0;
    padding: 0 2%;
    color: #53736D;
}

.statuMediaQuery{
    display: none;
    font-size: 270%;
    margin: 0;
    padding: 0 2%;
    color: #53736D;
}

/* Début de la nouvelle navbar */

.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #04090D;
}

.navbar .nomNav strong{
    color: #53736D;
}
.navbar a {
    float: left;
    display: block;
    color: #A69A85;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.active {
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 960px) {

    .navbar {
        position: fixed;
        width: 100%;
    }
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
        font-size: 2vh;

    }
}

@media screen and (max-width: 960px) {

    .navbar {
        position: fixed;
        width: 100%;
    }

    .navbar.responsive {
        position: fixed;
        width: 100%;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2vh;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .name {
        display: none;
    }

    .nameMediaQuery{
        display: block;
    }

    .statut {
        display: none;
    }

    .statuMediaQuery{
        display: block;
    }
}

/* Fin de la nouvelle navbar */

a {
    text-decoration: none;
    position: relative;
}

/* Animation de soulignement */
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A69A85;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

/* Animation de soulignement lors du survol */
a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}